./backend/.env
# Add more files or directories to ignore
./frontend/.env
/node_modules
/.next
./backend/node_modules
./backend/dist
frontend/node_modules
frontend/.next
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/.env.development.local
./frontend/.next
frontend-admin/.next
frontend-admin/.env
./frontend-admin/.env.local
./frontend-admin/.env.development
./frontend-admin/.env.production
./frontend-admin/.env.test
./frontend-admin/.env.development.local


/botstudio-client/node_modules
/botstudio-client/dist


